/* -----------------------------------------------------------
   Festivite - padrão inicial para projeto web
----------------------------------------------------------- */

:root {
  /* Brand */
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* Accent Colors */
  --purple: #b259ff;
  --fuchsia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;

  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /* Feedback */
  --danger: #ff5959;

  /* Input */
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /* Shape */
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /* Text */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--shape-body);
  margin: auto;
  overflow: hidden;
}

main {
  max-width: 1280px;
  padding: 20px;
  margin: 80px auto;
  background-color: var(--shape-background);
  border-radius: 20px;
  display: flex;
  gap: 20px;
  height: 728px;
}

#hero {
  background-image: url("assets/Background.jpg");
  background-size: cover;
  width: 400px;
  border-radius: 12px;
}

.text-hero {
  margin: 32px;
}

.text-hero img {
  width: 45.85px;
  height: 48px;
}

.text-hero div h1 {
  font-family: "Leckerli One", cursive;
  font-size: 40px;
  color: var(--pink);
}

.text-hero div p {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  color: var(--text-heading);
}

#invitation-form {
  background-color: var(--shape-body);
  width: 820px;
  border-radius: 12px;
  overflow-y: scroll;
}

#invitation-form .container {
  padding: 80px 130px;
}

#invitation-form .container h2 {
  font-family: "Baloo 2", cursive;
  font-size: 28px;
  font-weight: bold;
  color: var(--text-heading);
  margin-bottom: 40px;
}

#invitation-form .container .title-form {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

#invitation-form .container .title-form svg {
  color: var(--input-placeholder);
}

#invitation-form .container .title-form p {
  font-family: "Baloo 2", cursive;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: var(--text-heading);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--text-body);
}

.form-group input,
textarea {
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  padding: 13px 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: var(--input-placeholder);
}

.form-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 16px 0px;
}

.options {
  display: flex;
  gap: 4px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  padding: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--input-placeholder);
}

.options input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.options label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 10.5px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  width: 129px;
}

.options label:hover {
  background: var(--shape-button);
}

.options input[type="radio"]:checked + label {
  background: var(--shape-button);
  color: var(--text-heading);
}

input[type="radio"]:checked + label svg {
  color: var(--brand-light);
}

textarea {
  margin-bottom: 48px;
}

.colors {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 28px;
}

.colors input {
  position: absolute;
  opacity: 0;
}

.colors label {
  width: 28px;
  height: 28px;
  border-radius: 50%;

  cursor: pointer;

  display: block;

  position: relative;

  /* círculo escuro ao redor */
  box-shadow: 0 0 0 10px var(--shape-button);
}

/* Cores */
.color-purple {
  background: var(--purple);
}

.color-fuchsia {
  background: var(--fuchsia);
}

.color-pink {
  background: var(--pink);
}

.color-orange {
  background: var(--orange);
}

.color-yellow {
  background: var(--yellow);
}

.color-lime {
  background: var(--lime);
}

.color-green {
  background: var(--green);
}

.color-cyan {
  background: var(--cyan);
}

.color-navy {
  background: var(--navy);
}

/* Estado selecionado */
.colors input:checked + label {
  outline: 2px solid var(--brand-light);
  outline-offset: 7px;
}

.event-types {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.event-type input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.event-type label {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background: #292d31;
  border: 2px solid transparent;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.2s ease;
  border-color: var(--input-stroke);

  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.event-type img {
  width: 130px;
  height: 64px;
  margin: 4px 4px 0 4px;
  border-radius: 4px;
  object-fit: cover;
  display: block;
}

.event-type span {
  padding: 8px;
  text-align: center;

  color: #fff;
  font-size: 16px;
}

/* Selecionado */
.event-type input:checked + label {
  border-color: var(--brand-light);
}

/* Hover não sobrescreve o selecionado */
.event-type input:checked + label:hover {
  border-color: var(--brand-light);
}

/* ========================================
   ESTILO E FOTO DE CAPA
======================================== */

.style-cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;

  margin: 28px 0 48px;
}

.styles,
.cover-photo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ========================================
   SWITCH
======================================== */

.theme-switch {
  display: flex;
  align-items: center;
  gap: 12px;
}

.theme-switch p {
  margin: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
}

.switch {
  position: relative;

  display: inline-block;

  width: 64px;
  height: 32px;

  flex-shrink: 0;
}

/* Esconde o checkbox padrão */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Fundo do switch */
.slider {
  position: absolute;
  inset: 0;

  background-color: transparent;

  border: 2px solid var(--input-stroke);
  border-radius: 50px;

  cursor: pointer;

  transition: 0.3s;
}

/* Bolinha */
.slider::before {
  content: "";

  position: absolute;

  width: 24px;
  height: 24px;

  top: 2px;
  left: 2px;

  background-color: var(--input-stroke);

  border-radius: 50%;

  transition: 0.3s;
}

/* Switch ativado */
.switch input:checked + .slider::before {
  transform: translateX(32px);
}

/* ========================================
   FILE UPLOAD
======================================== */

.file-upload {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Esconde o input padrão */
.file-upload input[type="file"] {
  display: none;
}

/* Botão selecionar */
.file-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: fit-content;

  padding: 10.5px 12px;

  background-color: var(--shape-button);
  color: #fff;

  border-radius: 8px;

  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
  font-weight: bolder !important;

  cursor: pointer;

  transition: background-color 0.2s;
}

.file-button:hover {
  background-color: #363b41;
}

/* Ícone upload */
.file-button svg {
  color: #59b2ff;
  flex-shrink: 0;
}

/* Nome do arquivo */
.file-name {
  overflow: hidden;

  color: #9299a0;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.form-email-phone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 16px 0px;
}

.terms-section {
  width: 100%;
  margin-top: 48px;
}

.terms-section hr {
  border: none;
  border-top: 1px solid #2f353a;

  margin-bottom: 40px;
}

/* CHECKBOX ITEM */

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 8.5px;

  color: #c8cdd2;

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.4;

  cursor: pointer;
}

/* Esconde o checkbox padrão */

.checkbox-item input {
  display: none;
}

/* Checkbox personalizado */

.custom-checkbox {
  position: relative;

  width: 20px;
  height: 20px;

  flex-shrink: 0;

  border: 1px solid #3b4248;
  border-radius: 5px;

  background-color: transparent;

  transition: 0.2s;
}

/* Checkbox marcado */

.checkbox-item input:checked + .custom-checkbox {
  border-color: #59b2ff;
}

/* Check */

.checkbox-item input:checked + .custom-checkbox::after {
  content: "";

  position: absolute;

  left: 6px;
  top: 1px;

  width: 5px;
  height: 10px;

  border: solid #59b2ff;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}

/* Links */

.checkbox-item a {
  color: #59b2ff;

  text-decoration: underline;
  text-underline-offset: 2px;
}

.checkbox-item a:hover {
  color: #7cc3ff;
}

/* BOTÃO */

.button-wrapper {
  display: flex;
  justify-content: flex-end;

  margin-top: 48px;
}

.invite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 16px 24px;

  min-width: 202px;

  border: none;
  border-radius: 10px;

  background-color: var(--brand-dark);
  color: #ffffff;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition:
    background-color 0.2s,
    transform 0.2s;
}

.invite-button:hover {
  background-color: #3189cc;
}

.invite-button:active {
  transform: scale(0.98);
}

.invite-button svg {
  flex-shrink: 0;
}
